<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://signaureservice.chinacloudsites.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5b2028b5-2e19-46c7-87bf-9839771691cc/resourceGroups/Liscense颁发服务/providers/Microsoft.Web/sites/SignaureService</ResourceId>
    <UserName>$SignaureService</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://signaureservice.scm.chinacloudsites.cn/</PublishUrl>
  </PropertyGroup>
</Project>